const dest = "./dist";
const src = "./src";
const babelify = require("babelify");

module.exports = {
	linting: {
		source: ["src/**/*.js", "gulp/tasks/**/*.js", "example/**/*.js", "lib/**/*.js"]
	},
	browserify: {
		settings: {
			transform: [babelify],
			standalone: "seatlib",
			entries: `${src}/index.js`,
			debug: true
		},
		dest,
		outputName: "seatlib.js",
		outputMinName: "seatlib.min.js"
	},<% if (web) { %>
	server: {
		settings: {
			root: ".",
			host: "0.0.0.0",
			port: <%= port %>,
			middleware: () => []
		}
	},
	sass: {
		src: "./styles/css/**/*.{sass,scss,css}",
		dest: `${dest}/styles/css`,
		settings: {
			indentedSyntax: false,
			imagePath: "/images"
		}
	},
	watch: {
		src: ["./src/**/*.*", "./styles/**/*.*"],
		tasks: ["build"]
	}<% } else { %>
	watch: {
		src: ["./src/**/*.*"],
		tasks: ["build"]
	}<% } %>
};
